button{
font-size: 30px;
width: 50%;
margin: 0 auto 20px;
}
.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: green;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 50px;
	height: 40px;
	padding: 16px;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
	text-align: center; /* Center horizontally */
    display: flex; /* Center vertically */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: red;
	font-size: 30px;
	font-weight: bold;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}