/* Green Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #43a047;
  --primary-hover: #388e3c;
  --primary-focus: rgba(67, 160, 71, 0.125);
  --primary-inverse: #FFF;
}

.Back {
    color: #ffffff;
}

.button-submit {
    background-color: #ff0000;
}

.button-reset {
    background-color: #006000;
}

.button-container {
    display: flex; /* Устанавливаем контейнеру flex-контейнером */
    justify-content: center; /* Выравниваем кнопки по горизонтали по центру */
}

.button {
    margin: 30px 30px 30px 30px;
    padding: 10px;
    display: inline-block;
}

.button-add {
    color: #122377;
    font-size: 25px;
}

.button-menu {
    color: #ffffff;
    font-size: 34px;
}

.container {
    margin: auto;
}

.lable-firma {
    font-family:'Courier New', Courier, monospace;
    color: #a851a7;
    font-size: 56px;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: green;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 50px;
	height: 40px;
	padding: 16px;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
	text-align: center; /* Center horizontally */
    display: flex; /* Center vertically */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: red;
	font-size: 30px;
	font-weight: bold;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}

.contact-page {
    text-align: center;
}

.phone-page, .mail-page{
    text-align: center;
}

.msg {
    text-align:center;
    color: #43a047;
}

.form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-weight: bold;
        color: #43a047;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
}

th, td {
    text-align: center;
}

.title-table th{
    color: #ffffff;
}

table {
    font-size: 25px;
}