{% extends "quotes/base.html" %}

{% block content %}



<div class="row">
    <div class="col-md-8">
        <h3>Viewing tag: <a href="{% url 'quotes:tag_search' tag.id %}">{{ tag }}</a></h3>
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{ quote.quote }}
            </span>
            <span>by <small class="author" itemprop="author">{{ quote.author.fullname }}</small>
                <!-- <span>by <small class="author" itemprop="author"> quote.author|author </small> -->
                <a href="{% url 'quotes:author_about' pk=quote.author_id %}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="{% url 'quotes:tag_search' tag.id %}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <nav>
            <ul class="pager">

                <li class="previous">
                    {% if quotes.has_previous %}
                    <a href="?page={{ quotes.previous_page_number }}" class="btn btn-light">
                        <span aria-hidden="true">←</span>
                        Previous
                    </a>
                    {% endif %}
                    <!-- <a class="{% if not quotes.has_previous %} disabled {% endif %}"
                        href="{% if quotes.has_previous %} {% url 'quotes:tag_search' quotes.previous_page_number %} {% else %} # {% endif %}">
                        <span aria-hidden="true">←</span>
                        Previous
                    </a> -->
                </li>


                <li class="next">
                    {% if quotes.has_next %}
                    <a href="?page={{ quotes.next_page_number }}" class="btn btn-light">Next
                        <span aria-hidden="true">→</span>
                    </a>
                    {% endif %}
                    <!-- <a class="{% if not quotes.has_next %} disabled {% endif %}"
                        href="{% if quotes.has_next %} {% url 'quotes:tag_search' quotes.next_page_number %} {% else %} # {% endif %}">
                        Next 
                    
                        <span aria-hidden="true">→</span>
                    </a> -->
                </li>

            </ul>
        </nav>
    </div>

{% endblock %}