<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <title>{{ title }}</title>
</head>

<body>
    <main class="container">
        <div class="">
            <h1><a class="lable-firma" href="{{ url_for('index') }}">Наша Фирма</a></h1>
        </div>
        <div class="dropdown-content">
            {% for item_menu in menu %}
            <a class="menu" href="{{ item_menu.url }}">&nbsp;{{ item_menu.name }}&nbsp;</a>
            {% endfor %}
            <a style="float: right; color: #ffffff" href="{{ url_for('login') }}">|&nbsp;Logout</a>
            <a style="float: right; color: #ffffff" href="">&nbsp;Registration&nbsp;</a>
            <a style="float: right; color: #ffffff" href="{{ url_for('logout') }}">Login&nbsp;|</a>

        </div>
        <hr>
        {% block content %}

        {% endblock content%}
            <a class="Back" href="javascript:history.back()">&lt;-- Назад</a>
    </main>
</body>
</html>