{% extends "base.html" %}

{% block content %}
{{ super() }}

<button class="button">
    <a style="color: white" href=" {{ url_for('add_product') }} ">add new product</a>
</button>

<table>
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">product</th>
        <th scope="col">price, ua</th>
        <th scope="col">note</th>
        <th scope="col">edit</th>
        <th scope="col">delete</th>
    </tr>
    </thead>
    <tbody>
    {% for p in products_list %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td scope="row" style="color:#66ff44">{{ p.product }}</td>
        <td scope="row" style="color:#4c8888">{{ p.price }}</td>
        <td scope="row" style="color:#8a9089">{{ p.note }}</td>
        <td scope="row"><a style="color:#6688ff" href="{{ url_for('edit_product', product=p.product) }}">edit</a></td>
        <td scope="row"><a style="color:#ef0d0d" href="{{ url_for('delete_product', product=p.product) }}">delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}