<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
    <link href="{% static 'order/css/style.css' %}" rel="stylesheet">
    <title>{{ title }}</title>
</head>

<body>
    <main class="container">
        <header>
            <h1><a class="lable-firma" href="{% url 'home' %}">Наша Фирма</a></h1>
            <div class="main-menu">
                <ul class="menu">
                    {% for m in menu %}
                    <li>
                        <a href="{% url m.url_name %}">{{ m.menu_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <a class="Back" href="javascript:history.back()">&lt;-- Назад</a>
            {% if request.user.is_authenticated %}
                <span class="authorization">{{ user.username }}</span>
                <a class="authorization" href="{% url 'logout' %}">выйти</a>
                {% else %}
                <a class="authorization" href="{% url 'register' %}">регистрация</a>
                <a class="authorization" href="{% url 'login' %}">войти&nbsp;|&nbsp;</a>
                {% endif %}
                <hr>
            </div>

        </header>

        {% block content %} {% endblock content%}

        <footer>
            <div class="waves">
                <div class="wave" id="wave1"></div>
            </div>
            <ul class="social">
                <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-linkedin"><ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            </ul>
                <ul class="menu">
                    {% for m in menu %}
                    <li>
                        <a href="{% url m.url_name %}">{{ m.menu_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            <p>©2023 Nasha-firma | All Rights Reserved</p>
        </footer>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </main>
</body>

</html>