{% extends "order/base.html" %}

{% block content %}

<h4 style="text-align: center;">{{title}}</h4>

<!--<form method="POST" action="{% url 'add_product' %}">-->
<!--    {% csrf_token %}-->

<!--    <label for="{{ form.product.id_for_label }}">продукт:</label>-->
<!--    {{ form.product }}-->
<!--    <span>{{ form.errors.product }}</span><br>-->

<!--    <button type="submit">сохранить</button>-->
<!--    <button type="reset">сбросить</button>-->
<!--</form>-->

<form method="POST" action="">
    {% csrf_token %}
    <label>{{form.as_p}}</label>
    <span>{{ form.errors.name }}</span>
    <button type="submit">сохранить</button>
    <button type="reset">сбросить</button>
</form>

{% endblock %}
