{% extends "base.html" %}

{% block content %}

<div class="content">
    <h1 style="text-align:center">{{ title }}</h1>
    <div class="form-container">
        <form method="post" action="">
            {% csrf_token %}
            {% for f in form %}
            <p><label for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <div class="button-container">
                <button type="submit" class="button">Add</button>
                <button type="reset" class="button" onclick="history.back()">No</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
