{% extends "base.html" %}

{% block content %}

<div class="content">
    <div class="form-container">
        <form method="post" action="">
            {% csrf_token %}
            <p>are you sure you want to delete the "{{ object }}" for user "{{ order.user }}?</p>
            <div class="button-container">
                <button type="reset" class="button" onclick="history.back()">No</button>
                <button type="submit" class="button">Yes</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}